


body{
    padding-top: 8rem;
}
.w3layouts-two-grids {
    width: 62%;
    margin: 0em auto;
    -webkit-box-shadow: -2px 7px 37px 8px rgba(167, 167, 167, 0.52);
    -moz-box-shadow: -2px 7px 37px 8px rgba(167, 167, 167, 0.52);
    box-shadow: -2px 7px 37px 8px rgba(167, 167, 167, 0.52);
}

.mid-class {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 1600px) {

    .img-right-side,
    .txt-left-side {
        padding: 3.5em 4em 3em;
    }
    .img-right-side h3,
    .txt-left-side h2 {
        font-size: 22px;
        margin-bottom: 29px;
    }
    .form-left-to-w3l {
        margin: 0px 0px 25px;
    }
    .form-left-to-w3l span {
        font-size: 20px;
    }
    .submit {
        padding: 14px 20px;
        margin: 42px 0px 18px;
    }
}

@media (max-width: 1680px) {

    .img-right-side,
    .txt-left-side {
        padding: 4.5em 4.5em 3.5em;
    }
    .img-right-side h3,
    .txt-left-side h2 {
        font-size: 24px;
        margin-bottom: 33px;
    }
    .img-right-side p,
    .txt-left-side p {
        font-size: 13.5px;
        line-height: 24px;
        margin-bottom: 48px;
    }
}

@media (max-width: 1920px) {

    .img-right-side,
    .txt-left-side {
        padding: 5.5em 6em 4em;
    }
    .img-right-side h3,
    .txt-left-side h2 {
        font-size: 25px;
        margin-bottom: 35px;
                color: #2e82c4;
    }
}

.txt-left-side {
    background: #4295ca;
}

.img-right-side,
.txt-left-side {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
}
.txt-left-side h2 {
    color: #fff;
}
.txt-left-side p {
    color: #bdbdbd;
}
.img-right-side,
.txt-left-side {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
}
.form-left-to-w3l {
    display: flex;
    display: -webkit-flex;
    /* border: none; */
    border: 1px solid #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.form-left-to-w3l span {
    -webkit-flex-basis: 15%;
    flex-basis: 15%;
    border: none;
    text-align: center;
    color: #ffffff !important;
    line-height: 35px ;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.form-left-to-w3l input[type="email"],
.form-left-to-w3l input[type="password"] {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
    width: 100%;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    padding: .6em .6em;
    -webkit-appearance: none;
    background: transparent;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    box-sizing: border-box;
    /* box-shadow: -1px 0px 6px #9f9f9f; */
}
.left-side-forget,
.right-side-forget {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
}

.right-side-forget {
    float: right;
}
.img-right-side,
.txt-left-side {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
}
.submit:hover,
a.for:hover,
.w3layouts_more-buttn a:hover {
    opacity: 0.8;
}
.submit {
        background: #fff;
        outline: none;
        color: #4295ca;
    font-size: 14px;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.remenber-me,
a.for {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
.img-right-side {
    background: #fff;
}
.img-right-side h3,
.txt-left-side h2 {
    /* color: #000; */
    letter-spacing: 0px;
}
::placeholder{
   color: #fff;
}