body{
    font-family: 'Raleway',
    sans-serif!important;
    font-size: 13px !important;
}
.bg-blue {
    background: #1662ad;
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}
.bg-white{
    background: #fff;
}
.sb-sidenav-menu{
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
    2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
}
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.user-panel:before,
.user-panel:after {
    content: " ";
    display: table;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}
.user-panel>.info>a {
    text-decoration: none;
    padding-right: 5px;
    margin-top: 3px;
    font-size: 11px;
}
a.nav-link.link {
    color: #6b6262;
}
#flight-datepicker {
    margin-top: 36px;
}

@media screen and (min-width: 400px) {
    #flight-datepicker {
        display: -webkit-box;
        display: flex;
    }
}

#flight-datepicker .form-item {
    position: relative;
    margin: 12px 0 60px;
}

@media screen and (min-width: 400px) {
    #flight-datepicker .form-item {
        margin: 12px 24px 0 0;
    }
}

#flight-datepicker label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

#flight-datepicker input {
    display: block;
    margin-bottom: 8px;
    padding-bottom: 6px;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #0e3e43;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    outline: none;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}

#flight-datepicker input:first-child,
#flight-datepicker input:last-child {
    border-radius: 0;
}

#flight-datepicker input::-webkit-input-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    -webkit-transition: color .2s .2s ease-out;
    transition: color .2s .2s ease-out;
}

#flight-datepicker input:-moz-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    -moz-transition: color .2s .2s ease-out;
    transition: color .2s .2s ease-out;
}

#flight-datepicker input::-moz-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    -moz-transition: color .2s .2s ease-out;
    transition: color .2s .2s ease-out;
}

#flight-datepicker input:-ms-input-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    -ms-transition: color .2s .2s ease-out;
    transition: color .2s .2s ease-out;
}

#flight-datepicker input:focus {
    border-bottom-color: #125259;
}

#flight-datepicker input:focus::-webkit-input-placeholder {
    color: transparent;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

#flight-datepicker input:focus:-moz-placeholder {
    color: transparent;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

#flight-datepicker input:focus::-moz-placeholder {
    color: transparent;
    -moz-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

#flight-datepicker input:focus:-ms-input-placeholder {
    color: transparent;
    -ms-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

#flight-datepicker .date-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    top: calc(100% + 6px);
    font-size: 12px;
    color: white;
}

@media screen and (min-width: 400px) {
    #flight-datepicker .date-text {
        top: 100%;
    }
}

.datepicker.dropdown-menu {
    padding: 0;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    -webkit-animation: popup .2s ease-out forwards;
    animation: popup .2s ease-out forwards;
}

.datepicker.dropdown-menu table {
    background-color: #1b7983;
}

.datepicker.dropdown-menu table thead {
    background-color: #1b7983;
}

.datepicker.dropdown-menu table thead tr {
    border-top: 0;
}

.datepicker.dropdown-menu table tbody {
    background-color: white;
}

.datepicker.dropdown-menu table tr {
    border-top: 1px solid #ededed;
}

.datepicker.dropdown-menu table tr td,
.datepicker.dropdown-menu table tr th {
    width: auto;
    height: 24px;
    padding: 8px;
    font-size: 16px;
    border-radius: 0;
    -webkit-transition: background-color .6s ease-out;
    transition: background-color .6s ease-out;
}

@media screen and (min-width: 400px) {

    .datepicker.dropdown-menu table tr td,
    .datepicker.dropdown-menu table tr th {
        padding: 12px;
    }
}

.datepicker.dropdown-menu table tr td:hover,
.datepicker.dropdown-menu table tr td.active:hover,
.datepicker.dropdown-menu table tr td:active:hover,
.datepicker.dropdown-menu table tr th:hover,
.datepicker.dropdown-menu table tr th.active:hover,
.datepicker.dropdown-menu table tr th:active:hover {
    border-color: #ededed;
    border-radius: 0;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.datepicker.dropdown-menu table tr td.focused,
.datepicker.dropdown-menu table tr td.selected,
.datepicker.dropdown-menu table tr th.focused,
.datepicker.dropdown-menu table tr th.selected {
    background-color: #24A0AD;
    border-color: #ededed;
    border-radius: 0;
}

.datepicker.dropdown-menu table tr td.active,
.datepicker.dropdown-menu table tr td.active:focus,
.datepicker.dropdown-menu table tr td.active.active:hover,
.datepicker.dropdown-menu table tr td:active:focus,
.datepicker.dropdown-menu table tr td.highlighted,
.datepicker.dropdown-menu table tr th.active,
.datepicker.dropdown-menu table tr th.active:focus,
.datepicker.dropdown-menu table tr th.active.active:hover,
.datepicker.dropdown-menu table tr th:active:focus,
.datepicker.dropdown-menu table tr th.highlighted {
    background-color: #1b7983;
    border-color: #ededed;
}

.datepicker.dropdown-menu table tr th.datepicker-switch {
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #ffffff;
    background-color: inherit;
    border-radius: 0;
}

.datepicker.dropdown-menu table tr th.prev,
.datepicker.dropdown-menu table tr th.next {
    color: #ffffff;
    background-color: #17656e;
    border-radius: 0;
}

.datepicker.dropdown-menu table tr th.dow {
    padding: 2px 12px;
    font-size: 12px;
    line-height: 2;
    color: #ffffff;
    background-color: #19717a;
    border-top: 1px solid #196d76;
    border-radius: 0;
}

.datepicker.dropdown-menu table tr td.day {
    width: 24px;
    border-right: 1px solid #ededed;
}

.datepicker.dropdown-menu table tr td.day:last-child {
    border-right-width: 0;
}

.datepicker.dropdown-menu table tr td.range {
    background-color: #eeeeee;
}

.datepicker.dropdown-menu .new,
.datepicker.dropdown-menu .old,
.datepicker.dropdown-menu .disabled,
.datepicker.dropdown-menu .disabled:hover {
    color: #ccc;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

.fontawesome-calendar {
    position: absolute;
    top: 26px;
    right: 0;
    font-size: 24px;
    z-index: -99;
}

@-webkit-keyframes popup {
    from {
        opacity: 0;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes popup {
    from {
        opacity: 0;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.exp {
    display: table;
    /* width: 100%;
    height: 100%; */
}

/* .exp .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
} */

label {
    display: inline-block;
    color: #000;
    cursor: pointer;
    position: relative;
}

label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
       width: 17px;
       height: 18px;
    transform-origin: center;
    border: 1px solid red;
    border-radius: 3px;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
        position: relative;
        top: -3px;
}

label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #2a2a2a;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    left: 4px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
}

label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #2a2a2a;
    position: absolute;
    transform: rotate(305deg);
      top: 12px;
      left: 6px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}

label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
}

label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+label span {
    background-color: #fff;
    transform: scale(1.25);
}

input[type="checkbox"]:checked+label span:after {
    width: 10px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label span:before {
    width: 5px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label:hover span {
    background-color: #fff;
    transform: scale(1.25);
}

input[type="checkbox"]:checked+label:hover span:after {
    width: 10px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label:hover span:before {
    width: 5px;
    background: #1790b5;
    transition: width 150ms ease 100ms;
}
.secondary {
       background: #d3cfd6 !important;
       }


.secondary1 {
       background: #e8e8e8;
    color: #1313bb;
    font-weight: 600;
}
.ch-1 {
       right: 106px;
    position: relative;
}
.ch-2 {
    position: relative;
    left: -12rem;
}
.ch-3 {
    position: relative;
    left: -14rem;
}
.ch-4 {
    position: relative;
      left: -20.5rem;
}
.ch-5 {
       position: relative;
          left: 45rem;
          top: -3rem;
}
/* .button{
        position: relative;
       left: 37.5rem;
        bottom: 3rem;
} */
.card{
    border:none!important;
        box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05),
        2px 4px 10px 0 rgba(0, 34, 51, 0.05);
        border-radius: 0.15rem;
       
}
.vim1{
        position: relative;
        top: 2em;
}
table.dataTable{
        border-top: 5px solid #ffc107;
        border-radius: 3px;
}
 #triangle-bottomleft {
     width: 0;
     height: 0;
     border-bottom: 100px solid red;
     border-right: 100px solid transparent;
 }
     #rectangle {
         width: 200px;
         height: 100px;
         background: red;
     }
     .nopadding {
         padding-left: 0px;
         padding-right: 0px;
     }
     .toll-free {
            text-align: center;
            background-color: #ffc107;
            width: 187px;
            height: 33px;
            line-height: 37px;
            color: white;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
          
     }
     .toll-free:before {
             content: "";
    border-bottom: 35px solid #ffc107;
    border-right: 42px solid transparent;
    position: absolute;
    left: 45%;
    top: -2px;
    z-index: 1;
     }
     .print-shape{
             position: relative;
             top: 7px;
             left: -12px;
     }
     .vim{
         position: relative;
         top: 1em;
     }
.code {
         /* position: relative; */
         left: 43px;
         top: 1px;
     }
     .form-control{
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 13px !important;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0 !important;
            transition: border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
            border-top: none!important;
            border-right: none !important;
            border-left: none !important;
     }
     .gj-datepicker-bootstrap [role=right-icon] button{
             width: 38px;
             position: relative;
             border: 1px solid #ced4da;
             border-top: none !important;
             border-right: none !important;
             border-radius: 0 !important;
     }
     .gj-datepicker-bootstrap [role=right-icon] button .gj-icon,
     .gj-datepicker-bootstrap [role=right-icon] button .material-icons{
             position: absolute;
             font-size: 21px;
             top: 9px;
             left: 9px;
             color: #ec2525 !important;
     }
     .input-group-text{
             background-color: #fff !important;
             border: 1px solid #ced4da !important;
             color: #e00d34 !important;
             border-right: none !important;
             border-top: none !important;
                 border-left: none !important;
     }
     .btn-sm,
     .btn-group-sm>.btn{
             font-size: 13px !important;
     }

.dropdown-item{
    font-size: 13px !important;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff !important;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}
.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
}
.dropdown-toggle {
    white-space: nowrap;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}

span.badge.badge-danger.badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 1.25rem;
    margin-top: -.25rem;
}
.badge-danger {
    color: #fff;
    background-color: #e74a3b;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .35rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
@media (min-width: 576px){
    .topbar .dropdown {
        position: relative;
    }
} 

.dropdown-toggle::after{
    display: none!important;
}

@media screen and (min-width: 768px) and (max-width: 1366px){
/* .button {
    position: relative;
    left: 29.9rem;
    bottom: 3rem;
} */
.bt_cancel{
    position: absolute;
    right: -10px;
}
}
a {
    color: #776e6e !important;
    text-decoration: none;
    background-color: transparent;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested{
        margin-left: 0 !important;
}
/* .market-updates {
    margin: 1.5em 0;
}
.market-update-block.clr-block-2 {
    background: #fc3158;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.market-update-block {
    padding: 2em 2em;
    background: #999;
}
.market-update-right {
    padding-left: 0;
} */

.four-grids {
    /* background: #fff; */
    padding: 2em 3em;
    text-align: center;
}
.four-grid1 {
    background: #68b828;
}
.chart{
    background: #68b828;
}
.four-grid2 {
    background: #7c38bc;
}
.four-grid3 {
    background: #f7aa47;
}
.four-grid4 {
    background: #0e62c7;
}
.four-grid h3 {
    font-size: 1.2em;
    padding: 1em 0 0.5em;
    color: #fff;
}
.four-grid h4 {
    font-size: 2em;
    color: #fff;
    padding-bottom: .5em;
    font-weight: 600;
}
.icon  {
    font-size: 1.5em;
    border-radius: 62px;
    border: 3px solid #fff;
    padding: 1em;
    /* background: #34495e; */
    color: #fff;
    position: relative;
    bottom: 1rem;
}
/* .icon  {
    margin-top: -1.8em;
} */